<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Proyecto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-textarea placeholder="Nombre de Proyecto" [(ngModel)] = "txt_proyecto">
    </ion-textarea>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Descripcion" [(ngModel)] = "txt_descripcion" style="font-size: smaller;"></ion-textarea>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="save" (click) = guardarProyecto()></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
