<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Tareas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchText" (ionInput)="filtrarTareas()" debounce="300"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let tarea of tareasFiltradas" (click)="seleccionarTarea(tarea)">
      {{tarea.tarea}}
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" (click) = irCrearTarea()></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button>
      <ion-icon name="close" (click) = limpiarPreferencias()></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
